.landing {
    background: url(../images/banner4.jpg) no-repeat center/cover;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.638);
    z-index: 11;
}

.landing h2 {
    margin: auto;
    z-index: 13;
    color: #fff;
}

/* end landing */

/* start about  */
.about {
    position: relative;
    padding: 130px 0 50px;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .container .box {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.about .container .box span {
    color: var(--gray-color);
    font-size: 16px;
}

.about .container .box h2 {
    color: var(--gray-color);
    font-size: 40px;
    margin: 20px 0;
}

.about .container .box p {
    color: var(--gray-color);
    font-size: 18px;
}

.about .container .box button {
    all: unset;
    font-size: 18px;
    background-color: var(--blue-color);
    color: var(--main-color);
    width: 150px;
    border-radius: 15px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 5px;
    border: 1px solid var(--blue-color);
    transition: 300ms;
}

.about .container .box button:hover {
    box-shadow: rgba(56, 135, 196, 0.76) 0px 1px 2px 0px, rgba(23, 157, 224, 0.702) 0px 2px 6px 2px;
}

.about .container .box .get {
    color: var(--blue-color);
    background-color: transparent;
}

.about .container .box .get:hover {
    color: var(--main-color);
    background-color: var(--blue-color);
}

.about .container .box img {
    width: 100%;
    position: relative;
    border-radius: 20px;
    z-index: 0;
}

.about .container .box-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    left: 0;
    top: 0;
    border-radius: 20px;
    z-index: 11;
}

@media only screen and (max-width: 600px) {
    .about .container {
        flex-direction: column;
    }

    .about .container .box {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .about .container {
        flex-direction: column;
    }

    .about .container .box {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .about .container {
        flex-direction: column;
    }

    .about .container .box {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .about .container {
        flex-direction: row;
    }

    .about .container .box {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .about .container {
        flex-direction: row;
    }

    .about .container .box {
        width: 50%;
    }
}

/* end about  */
/* start cards */
.cards {
    text-align: center;
}
.cards .container{
    flex-flow: row wrap;
}
.cards .box {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
}
.cards .box h3{
    color: #000 !important;
}
.cards .box p{
    color: #000 !important;
}